* {
    box-sizing: border-box;
}
.header {
    padding: 15px;
    background: #2c3e50;
    color: #fff;
}

.Nombres {
    width: 50%;
    float: left;
    padding: 15px;
}

.Contenido {
    width: 50%;
    float: left;
    padding: 15px;
}
